<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Football Hub</title>
    <link rel="icon" href="img/favicon.png" type="image/png">
    <meta name="description" content="A web app for displaying the latest football statistics and matches.">
    <meta name="author" content="Tony Naughton">
    <meta name="keywords" content="football, app, web, node, js, statistics, soccer, matches, fixtures, express, handlebars">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Football Hub">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>

<body class="bg-dark">
    {{{body}}}
</body>
</html>