{{> menu }}

<div class="container">
    <div class="row">
        <div class="col-6">
            {{> fixtures}}
        </div>
        <div class="col-6">
            {{> standings}}
        </div>
    </div>
</div>