{{> menu id="fixtures"}}

<div class="container">
    <div class="row text-center p-4 text-light"><h2>Fixtures</h2></div>
    <div class="row">
        <div class="col-12">
            {{> fixtures-table}}
        </div>
    </div>
</div>