@charset "utf-8";
/* CSS DOCUMENT */

.form-item {
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

a {
    color: gray;
}

a:hover {
    color: white;
}

a.active {
    color: white;
}
